.main__fatures {
	padding: 4vw 0 0 0;
	text-align: center;
	margin-bottom: 10vw;
}
.main__fatures-title {
	margin-bottom: 1vw;
	font-weight: 600;
	font-size: 3vw;
	line-height: 4vw;
	letter-spacing: -1px;
	color: $colortxt;
}
.main__features-subtitle {
	width: 40vw;
	margin: auto;
	margin-bottom: 3vw;
	font-weight: normal;
	font-size: 1.1vw;
	line-height: 1.5vw;
	color: $colortxt;
}
.main__features-div {
	display: flex;
	justify-content: space-between;
	text-align: left;
	flex-wrap: wrap;
}
.main__features-item {
	width: 20vw;
}
.item-img {
	height: 4vw;
	margin-bottom: 1.5vw;
}
.item-title {
	margin-bottom: 0.8vw;
	font-weight: 600;
	font-size: 1.5vw;
	line-height: 1.5vw;
	color: $colortxt;
}
.item-subtitle1, .item-subtitle2, .item-subtitle3 {
	height: 4.4vw;
	overflow: hidden;
	margin-bottom: 1.5vw;
	font-weight: normal;
	font-size: 0.95vw;
	line-height: 1.4vw;
	color: $colortxt;
	opacity: 0.6;
}
.item__subtitle-more{
	height: auto;
}
.item-readmore1, .item-readmore2, .item-readmore3 {
	background-color: transparent;
	font-family: $font1;
	font-weight: 500;
	font-size: 1.1vw;
	line-height: 1vw;
	color: $colortxt;
}