.main__rate {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main__rate-lside {
	width: 34.5vw;
}
.main__title {
	font-weight: 600;
	font-size: 2vw;
	line-height: 2.5vw;
	color: $colortxt;
}
.main__rate-rside {
	display: flex;
}
.main__rate-downloads {
	margin-right: 7vw;
}
.main__rate-title {
	font-weight: bold;
	font-size: 3vw;
	line-height: 4vw;
	letter-spacing: -1px;
	color: $colortxt;
	margin-bottom: 0.5vw;
}
.main__rate-subtitle {
	font-weight: normal;
	font-size: 1vw;
	line-height: 28px;
	color: $colortxt
}
.main__rate-icons {
	margin-bottom: 1vw;
}
.main__rate-img {
	width: 1.5vw;
}
.main__rate-rating {
}